<app-eatboxheader></app-eatboxheader>

<div class="col_sm1">
    <div class="store">
        <div class="store_head">
            <div class="store_head1">
                <h1><img src="assets/images/store_logo.png"> <span>BEST MARKET</span></h1>
            </div>
            <!--<div class="store_head2">
                <div class="month">
                    <h1><i class="fa fa-calendar" aria-hidden="true"></i> <span>Month</span> : <span>10/2021</span></h1>
                </div>
                <div class="week">
                    <select>
                        <option value="week 1">Week 1</option>
                        <option value="week 1">Week 2</option>
                        <option value="week 1">Week 3</option>
                        <option value="week 1">Week 4</option>
                        <option value="week 1">Week 5</option>
                    </select>
                </div>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
            <div class="add_box_btn">
                <a href="#"><i class="fa fa-plus" aria-hidden="true"></i> &nbsp; ADD MYSTEREAT BOXES</a>
            </div>-->
            <div class="clear"></div>
        </div>
        <div class="store_body">
             
             <!-- accordian strat -->
            <div class="rm_accordion wow fadeInUp" data-wow-duration="1s" style="visibility: visible; animation-duration: 1s; animation-name: fadeInUp;">
                    <div class="accordion_head">
                        <h1><img src="assets/images/eat-icon.jpg"> <span class="acc_head_title">MysterEat Box 1</span> &nbsp;&nbsp; <span  class="acc_head_value">Value: € 8</span> &nbsp;&nbsp; <span  class="acc_head_nov">Now: € 3.20</span></h1>
                        <i class="fa fa-plus" aria-hidden="true"></i>
                    </div>
                    <div class="accordion_body">
                        <div class="store_days" id="box1">
                            <ul>
                                <li class="d_active" id="tab1">MON</li>
                                <li  id="tab2">TUE | <span>3</span></li>
                                <li id="tab3">WED | <span>3</span></li>
                                <li id="tab4">THU | <span>3</span></li>
                                <li id="tab5">FRI | <span>3</span></li>
                                <li id="tab6">SAT | <span>3</span></li>
                                <li id="tab7">SUN | <span>3</span></li>
                            </ul>
                            <div class="clear"></div>
                        </div>
                        <div class="main_body">
                            <div class="store_days_body tab_active" id="box1_tab1">
                                <div class="pick_time time">
                                    <h2>pick-up Time</h2>
                                    <p><i class="fa fa-clock-o" aria-hidden="true"></i> &nbsp; 11:30 am - 12:00 pm</p>
                                    <h3><i class="fa fa-minus" aria-hidden="true"></i> &nbsp; <input type="text" name="" value="2"> &nbsp; <i class="fa fa-plus" aria-hidden="true"></i><span> / &nbsp; 3</span></h3>
                                </div>
                                <div class="pick_time time">
                                    <h2>pick-up Time</h2>
                                    <p><i class="fa fa-clock-o" aria-hidden="true"></i> &nbsp; 11:30 am - 12:00 pm</p>
                                    <h3><i class="fa fa-minus" aria-hidden="true"></i> &nbsp; <input type="text" name="" value="2"> &nbsp; <i class="fa fa-plus" aria-hidden="true"></i><span> / &nbsp; 3</span></h3>
                                </div>
                                <div class="total_box time">
                                    <h2>Total Boxes</h2>
                                    <h4>3</h4>
                                </div>
                                <div class="clear"></div>
                            </div>
                            <div class="store_days_body" id="box1_tab2">2</div>
                            <div class="store_days_body" id="box1_tab3">3</div>
                            <div class="store_days_body" id="box1_tab4">4</div>
                            <div class="store_days_body" id="box1_tab5">5</div>
                            <div class="store_days_body" id="box1_tab6">6</div>
                            <div class="store_days_body" id="box1_tab7">7</div>
                        </div>
                    </div> 
            </div>
            <!-- accordian end -->

            <!-- accordian strat -->
            <div class="rm_accordion wow fadeInUp" data-wow-duration="1s" style="visibility: visible; animation-duration: 1s; animation-name: fadeInUp;">
                    <div class="accordion_head">
                        <h1><img src="assets/images/eat-icon.jpg"> <span class="acc_head_title">MysterEat Box 2</span> &nbsp;&nbsp; <span  class="acc_head_value">Value: € 8</span> &nbsp;&nbsp; <span  class="acc_head_nov">Now: € 3.20</span></h1>
                        <i class="fa fa-plus" aria-hidden="true"></i>
                    </div>
                    <div class="accordion_body">
                        <div class="store_days" id="box2">
                            <ul>
                                <li class="d_active" id="tab1">MON</li>
                                <li  id="tab2">TUE | <span>3</span></li>
                                <li id="tab3">WED | <span>3</span></li>
                                <li id="tab4">THU | <span>3</span></li>
                                <li id="tab5">FRI | <span>3</span></li>
                                <li id="tab6">SAT | <span>3</span></li>
                                <li id="tab7">SUN | <span>3</span></li>
                            </ul>
                            <div class="clear"></div>
                        </div>
                        <div class="main_body">
                            <div class="store_days_body tab_active" id="box2_tab1">
                                <div class="pick_time time">
                                    <h2>pick-up Time</h2>
                                    <p><i class="fa fa-clock-o" aria-hidden="true"></i> &nbsp; 11:30 am - 12:00 pm</p>
                                    <h3><i class="fa fa-minus" aria-hidden="true"></i> &nbsp; <input type="text" name="" value="2"> &nbsp; <i class="fa fa-plus" aria-hidden="true"></i><span> / &nbsp; 3</span></h3>
                                </div>
                                <div class="pick_time time">
                                    <h2>pick-up Time</h2>
                                    <p><i class="fa fa-clock-o" aria-hidden="true"></i> &nbsp; 11:30 am - 12:00 pm</p>
                                    <h3><i class="fa fa-minus" aria-hidden="true"></i> &nbsp; <input type="text" name="" value="2"> &nbsp; <i class="fa fa-plus" aria-hidden="true"></i><span> / &nbsp; 3</span></h3>
                                </div>
                                <div class="total_box time">
                                    <h2>Total Boxes</h2>
                                    <h4>3</h4>
                                </div>
                                <div class="clear"></div>
                            </div>
                            <div class="store_days_body" id="box2_tab2">2</div>
                            <div class="store_days_body" id="box2_tab3">3</div>
                            <div class="store_days_body" id="box2_tab4">4</div>
                            <div class="store_days_body" id="box2_tab5">5</div>
                            <div class="store_days_body" id="box2_tab6">6</div>
                            <div class="store_days_body" id="box2_tab7">7</div>
                        </div>
                    </div>
            </div>
            <!-- accordian end -->

            <div class="box_btn box_btn2">
                <a href="#">Reserve X MysterEat Box(es)</a>
            </div>
        </div>
    </div>
    <div class="clear"></div>
</div>

<app-footer></app-footer>