<app-eatboxheader></app-eatboxheader>

<div class="col_sm1">
    <div class="top2">
        <div class="src_map">
            <div class="searcbar">
                <input type="text" name="search" placeholder="Search Store">
                <i class="fa fa-search" aria-hidden="true"></i>
            </div>
            <div class="map">
                <p>1234 | <i class="fa fa-map-marker" aria-hidden="true"></i><span>Map</span></p>
            </div>
            <div class="clear"></div>
        </div>
        <div class="main_catgeory">
            <h1>Supermarket</h1>
            <div class="col_sm1">
                <div class="store_list">
                    <div class="store_img">
                        <img src="assets/images/store.jpg" class="img">
                    </div>
                    <div class="store_des">
                        <h2>BEST MARKET</h2>
                        <p><i class="fa fa-map-marker" aria-hidden="true"></i> 8 Patriot Square E2 9NF</p>
                        <p>Available pick-up Time: <br> 10:00 – 10:30 & 21:00 – 21:20</p>
                        <h4><i class="fa fa-star" aria-hidden="true"></i> 9.5</h4>
                        <h5><i class="fa fa-heart" aria-hidden="true"></i> <span>1.2 km</span></h5>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="store_list">
                    <div class="store_img">
                        <img src="assets/images/store.jpg" class="img">
                    </div>
                    <div class="store_des">
                        <h2>BEST MARKET</h2>
                        <p><i class="fa fa-map-marker" aria-hidden="true"></i> 8 Patriot Square E2 9NF</p>
                        <p>Available pick-up Time: <br> 10:00 – 10:30 & 21:00 – 21:20</p>
                        <h4><i class="fa fa-star" aria-hidden="true"></i> 9.5</h4>
                        <h5><i class="fa fa-heart" aria-hidden="true"></i> <span>1.2 km</span></h5>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="store_list">
                    <div class="store_img">
                        <img src="assets/images/store.jpg" class="img">
                    </div>
                    <div class="store_des">
                        <h2>BEST MARKET</h2>
                        <p><i class="fa fa-map-marker" aria-hidden="true"></i> 8 Patriot Square E2 9NF</p>
                        <p>Available pick-up Time: <br> 10:00 – 10:30 & 21:00 – 21:20</p>
                        <h4><i class="fa fa-star" aria-hidden="true"></i> 9.5</h4>
                        <h5><i class="fa fa-heart" aria-hidden="true"></i> <span>1.2 km</span></h5>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="store_list">
                    <div class="store_img">
                        <img src="assets/images/store.jpg" class="img">
                    </div>
                    <div class="store_des">
                        <h2>BEST MARKET</h2>
                        <p><i class="fa fa-map-marker" aria-hidden="true"></i> 8 Patriot Square E2 9NF</p>
                        <p>Available pick-up Time: <br> 10:00 – 10:30 & 21:00 – 21:20</p>
                        <h4><i class="fa fa-star" aria-hidden="true"></i> 9.5</h4>
                        <h5><i class="fa fa-heart" aria-hidden="true"></i> <span>1.2 km</span></h5>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="clear"></div>
</div>

<br><br>

<app-footer></app-footer>