
<app-header></app-header>

<div class="ctr_head">
    <div class="brd"></div>
    <h1>What is your wish?</h1>
    <p>Cum doctus civibus efficiantur in imperdiet deterruisset.</p>
</div>

<div class="main_box">
    <div class="shadow_sm2">
        <h1>Are you a Consumer?</h1>
        <a routerLink="/home/reg-consumer">SIGN UP</a>
    </div>
    <div class="shadow_sm2 shadow_flt_rt">
        <h1>Do you own a Business?</h1>
        <a routerLink="/home/reg-business">SIGN UP</a>
    </div>
    <div class="clear"></div>
    <p>I already have account? <a href="#">Sign In</a></p>
</div>
<div class="clear"></div>

<app-footer></app-footer>