<div class="col_sm1 top_main">
    <div class="top">
        <div class="logo">
            <img src="assets/images/logo.jpg" class="img">
        </div>
        <div class="top_right">
            <!--<div class="navbarr">
                <ul>
                    <li><a href="#" class="active">Home</a></li>
                    <li><a href="#">Mystereat Boxes</a></li>
                    <li><a href="#">Help Center</a></li>
                </ul>
            </div>-->
            <div class="login">
                <ul>
                    <li><a href="#">Sign In</a></li>
                    <li><a href="#">Sign Up</a></li>
                </ul>
            </div>
            <div class="clear"></div>
        </div>
        <div class="clear"></div>
    </div>
    <div class="clear"></div>
</div>

<div style="height:450px;background-color: #9bcd9a;"></div>

<!--
<div class="banner" style="background-image: url('assets/images/banner.jpg');">
    <div class="banner_txt">
        <div class="owl-one owl-carousel owl-theme">
            <div class="banner_slider">
                <h1>Get your MysterEatBox</h1>
                <h2>Freshness Delivered</h2>
                <a href="#">Become Consumer</a>
            </div>
            <div class="banner_slider">
                <h1>Get your MysterEatBox</h1>
                <h2>Freshness Delivered</h2>
                <a href="#">Become Consumer</a>
            </div>
        </div>
    </div>
</div>-->

<div class="col_sm1 bg_clr1 pd-80">
    <div class="top2">
        <div class="heading">
            <h1>Top Rated Vendors</h1>
            <p>Cum doctus civibus efficiantur in imperdiet deterruisset.</p>
        </div>
        <div class="col_sm1">
            <div class="top_vendor">
                <div class="vendor_img">
                    <img src="assets/images/vendor.jpg" class="img" />
                </div>
                <div class="vendor_txt">
                    <h1>La Monnalisa</h1>
                    <p>8 Patriot Square E2 9NF</p>
                    <h3><span><i class="fa fa-free-code-camp" aria-hidden="true"></i> -30%</span> Average price $35</h3>
                    <h4><i class="fa fa-star" aria-hidden="true"></i> 9.5</h4>
                </div>
                <div class="clear"></div>
            </div>
            <div class="top_vendor">
                <div class="vendor_img">
                    <img src="assets/images/vendor.jpg" class="img" />
                </div>
                <div class="vendor_txt">
                    <h1>La Monnalisa</h1>
                    <p>8 Patriot Square E2 9NF</p>
                    <h3><span><i class="fa fa-free-code-camp" aria-hidden="true"></i> -30%</span> Average price $35</h3>
                    <h4><i class="fa fa-star" aria-hidden="true"></i> 9.5</h4>
                </div>
                <div class="clear"></div>
            </div>
            <div class="top_vendor">
                <div class="vendor_img">
                    <img src="assets/images/vendor.jpg" class="img" />
                </div>
                <div class="vendor_txt">
                    <h1>La Monnalisa</h1>
                    <p>8 Patriot Square E2 9NF</p>
                    <h3><span><i class="fa fa-free-code-camp" aria-hidden="true"></i> -30%</span> Average price $35</h3>
                    <h4><i class="fa fa-star" aria-hidden="true"></i> 9.5</h4>
                </div>
                <div class="clear"></div>
            </div>
            <div class="top_vendor">
                <div class="vendor_img">
                    <img src="assets/images/vendor.jpg" class="img" />
                </div>
                <div class="vendor_txt">
                    <h1>La Monnalisa</h1>
                    <p>8 Patriot Square E2 9NF</p>
                    <h3><span><i class="fa fa-free-code-camp" aria-hidden="true"></i> -30%</span> Average price $35</h3>
                    <h4><i class="fa fa-star" aria-hidden="true"></i> 9.5</h4>
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </div>
    <div class="clear"></div>
</div>

<div class="col_sm1 pd-80">
    <div class="col_sm1">
        <div class="col_sm22 work_con">
            
            <div class="work_slider">
                    <h1>Consumer</h1>
                    <h2>Create your profile – always free</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, </p>
                    <a href="#">Become as a Consummer</a>
                </div>
            </div>

        </div>
        <div class="col_sm22 work_con">
            
            <div class="work_slider">
                    <h1>Business Owner</h1>
                    <h2>Build your Mistereat Box Value</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, </p>
                    <a href="#">Become as a owner</a>
                </div>
            </div>

        <div class="clear"></div>
    </div>


<div class="col_sm1 pd-80">
    <div class="top2">
        <div class="heading">
            <h1>About Us</h1>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially</p>
        </div>
        <div class="col_sm1">
            <div class="col_sm3">
                <div class="ab_img">
                    <img src="assets/images/ab_icon1.png">
                </div>
                <div class="ab_txt">
                    <h1>Lorem Ipsum</h1>
                    <p>Lorem ipsum dolor sit amet, consec tetur adipiscing elit, sed do eiusmod
tempor incididunt ut labore.</p>
                </div>
                <div class="clear"></div>
            </div>
            <div class="col_sm3">
                <div class="ab_img">
                    <img src="assets/images/ab_icon1.png">
                </div>
                <div class="ab_txt">
                    <h1>Lorem Ipsum</h1>
                    <p>Lorem ipsum dolor sit amet, consec tetur adipiscing elit, sed do eiusmod
tempor incididunt ut labore.</p>
                </div>
                <div class="clear"></div>
            </div>
            <div class="col_sm3">
                <div class="ab_img">
                    <img src="assets/images/ab_icon1.png">
                </div>
                <div class="ab_txt">
                    <h1>Lorem Ipsum</h1>
                    <p>Lorem ipsum dolor sit amet, consec tetur adipiscing elit, sed do eiusmod
tempor incididunt ut labore.</p>
                </div>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <div class="clear"></div>
</div>

<div class="col_sm1 bg_clr2">
    <div class="top2">
        <div class="col_sm3">
            <h1 class="ftr_head">CONTACT DETAILS</h1>
            <p class="ftr_subhead">Quis autem velis eti reprehender etimes quiste volupta velit esse quam nihil.</p>
            <br>
            <div class="col_sm1">
                <div class="ftr_img">
                    <i class="fa fa-map-marker" aria-hidden="true"></i>
                </div>
                <div class="ftr_txt">
                    <p>Oxford Street, London, UK, N1 1ED</p>
                </div>
                <div class="clear"></div>
            </div>
            <br>
            <div class="col_sm1">
                <div class="ftr_img">
                    <i class="fa fa-phone" aria-hidden="true"></i>
                </div>
                <div class="ftr_txt">
                    <p>+44 987 654 321 / +44 123 456 789</p>
                </div>
                <div class="clear"></div>
            </div>
            <br>
            <div class="col_sm1">
                <div class="ftr_img">
                    <i class="fa fa-envelope" aria-hidden="true"></i>
                </div>
                <div class="ftr_txt">
                    <p>contact@restaurant.com</p>
                </div>
                <div class="clear"></div>
            </div>
            <div class="s_icon">
                <i class="fa fa-facebook" aria-hidden="true"></i> &nbsp;&nbsp;
                <i class="fa fa-twitter" aria-hidden="true"></i> &nbsp;&nbsp;
                <i class="fa fa-youtube-play" aria-hidden="true"></i> &nbsp;&nbsp;
                <i class="fa fa-instagram" aria-hidden="true"></i> 
            </div>
            <h2 class="copy">2020 Copyrights & Protected</h2>
        </div>
        <div class="col_sm3">
            <h1 class="ftr_head">Our Company</h1>
            <div class="ftr_menu">
                <ul>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">MysterEat Boxes</a></li>
                </ul>
            </div>
        </div>
        <div class="col_sm3">
            <h1 class="ftr_head">Legal Information</h1>
            <div class="ftr_menu">
                <ul>
                    <li><a href="#">Terms And Conditions</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">Payment Process</a></li>
                    <li><a href="#">Cookies Policy</a></li>
                </ul>
            </div>
        </div>
        <div class="clear"></div>        
    </div>
    <div class="clear"></div>
</div>