<div class="col_sm1 top_main">
    <div class="top">
        <div class="logo">
            <img src="assets/images/logo.jpg" class="img">
            <div class="brd"></div>
        </div>
        <div class="top_right">
            <!--<div class="navbarr">
                <ul>
                    <li><a href="#" class="active">Home</a></li>
                    <li><a href="#">Mystereat Boxes</a></li>
                    <li><a href="#">Help Center</a></li>
                </ul>
            </div>-->
            <div class="login">
                <ul>
                    <li><a href="#">Sign In</a></li>
                    <li><a href="#">Sign Up</a></li>
                </ul>
            </div>
            <div class="clear"></div>
        </div>
        <div class="clear"></div>
    </div>
    <div class="clear"></div>
</div>

<div class="shadow_box">
    <div class="box_head">
        <h1>Registration for Consumer</h1>
        <div class="brd"></div>
    </div>
    <div class="reg_form">
        <form method="post" action="submit" id="contactForm">
            <fieldset>
                <input class="form-control" type="text" placeholder="First Name" tabindex="1">
            </fieldset>
            <fieldset>
                <input class="form-control" type="text" placeholder="Surname" tabindex="1">
            </fieldset>
            <fieldset>
                <input class="form-control" type="text" placeholder="Email" tabindex="3" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$">
            </fieldset>
            <fieldset>
                <input class="form-control" type="text" placeholder="mobile No." onkeypress="return isNumber(event)" tabindex="5">
            </fieldset>
            <fieldset>
                <input class="form-control" type="text" placeholder="Address" tabindex="1">
            </fieldset>
            <div class="col_sm1 pwd">
                <input class="form-control" type="password" placeholder="Password" tabindex="1">
                <i class="fa fa-eye" aria-hidden="true" id="togglePassword"></i>
            </div>
            <div class="col_sm1 pwd">
                <input class="form-control" type="password" placeholder="Confirm Password" tabindex="1">
                <i class="fa fa-eye" aria-hidden="true" id="togglePassword"></i>
            </div>
            <div class="clear"></div>
            <div class="radio_box2">
                <label class="container">I accept the <a href="#">Private Policy</a>
                    <input type="checkbox" value="E-mail" name="read_t" tabindex="11">
                    <span class="checkmark"></span>
                </label>
            </div>
            <div class="radio_box2">
                <label class="container">I have read and accept the <a href="#">T&Cs</a>
                    <input type="checkbox" value="E-mail" name="read_t" tabindex="11">
                    <span class="checkmark"></span>
                </label>
            </div>
            <div class="radio_box2">
                <label class="container">I do not want to receive explosive information and tips – plus a few surprises by email and/or text messages
                    <input type="checkbox" value="E-mail" name="read_t" tabindex="11">
                    <span class="checkmark"></span>
                </label>
            </div>
            <div class="radio_box"><br>
                    <h1>Preferred way of communication</h1><br>
                    <label class="container">Email 
                      <input type="radio" name="gender" value="Male" tabindex="4">
                      <span class="checkmark"></span>
                    </label>
                    <label class="container">SMS
                      <input type="radio" name="gender" value="Female" tabindex="5">
                      <span class="checkmark"></span>
                    </label>
                    <label class="container">Both
                      <input type="radio" name="gender" value="others" tabindex="6">
                      <span class="checkmark"></span>
                    </label>
            </div>
            <br>
            <div class="btn">
                  <button name="submit" type="submit" id="contact-submit" data-submit="...Sending" tabindex="12">GET STARTED!</button>
            </div>
            <div class="clear"></div>
        </form>
    </div>
</div>

<div class="col_sm1 bg_clr2">
    <div class="top2">
        <div class="col_sm3">
            <h1 class="ftr_head">CONTACT DETAILS</h1>
            <p class="ftr_subhead">Quis autem velis eti reprehender etimes quiste volupta velit esse quam nihil.</p>
            <br>
            <div class="col_sm1">
                <div class="ftr_img">
                    <i class="fa fa-map-marker" aria-hidden="true"></i>
                </div>
                <div class="ftr_txt">
                    <p>Oxford Street, London, UK, N1 1ED</p>
                </div>
                <div class="clear"></div>
            </div>
            <br>
            <div class="col_sm1">
                <div class="ftr_img">
                    <i class="fa fa-phone" aria-hidden="true"></i>
                </div>
                <div class="ftr_txt">
                    <p>+44 987 654 321 / +44 123 456 789</p>
                </div>
                <div class="clear"></div>
            </div>
            <br>
            <div class="col_sm1">
                <div class="ftr_img">
                    <i class="fa fa-envelope" aria-hidden="true"></i>
                </div>
                <div class="ftr_txt">
                    <p>contact@restaurant.com</p>
                </div>
                <div class="clear"></div>
            </div>
            <div class="s_icon">
                <i class="fa fa-facebook" aria-hidden="true"></i> &nbsp;&nbsp;
                <i class="fa fa-twitter" aria-hidden="true"></i> &nbsp;&nbsp;
                <i class="fa fa-youtube-play" aria-hidden="true"></i> &nbsp;&nbsp;
                <i class="fa fa-instagram" aria-hidden="true"></i> 
            </div>
            <h2 class="copy">2020 Copyrights & Protected</h2>
        </div>
        <div class="col_sm3">
            <h1 class="ftr_head">Our Company</h1>
            <div class="ftr_menu">
                <ul>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">MysterEat Boxes</a></li>
                </ul>
            </div>
        </div>
        <div class="col_sm3">
            <h1 class="ftr_head">Legal Information</h1>
            <div class="ftr_menu">
                <ul>
                    <li><a href="#">Terms And Conditions</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">Payment Process</a></li>
                    <li><a href="#">Cookies Policy</a></li>
                </ul>
            </div>
        </div>
        <div class="clear"></div>        
    </div>
    <div class="clear"></div>
</div>