<app-header></app-header>

<div class="shadow_box">
    <div class="box_head">
        <h1>Registration for Consumer</h1>
        <div class="brd"></div>
    </div>
    <div class="reg_form">
        <form  id="contactForm" [formGroup]="cForm">
            <fieldset>
                <input class="form-control" type="text" formControlName="firstName" placeholder="First Name" tabindex="1">
            </fieldset>
            <fieldset>
                <input class="form-control" type="text" formControlName="lastName" placeholder="Surname" tabindex="1">
            </fieldset>
            <fieldset>	
                <input class="form-control" type="text" formControlName="email" placeholder="Email" tabindex="3" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$">	
            </fieldset>
            <fieldset>	
                <input class="form-control" type="text" formControlName="mobileNo" placeholder="mobile No." onkeypress="return isNumber(event)" tabindex="5">	
            </fieldset>
            <fieldset>	
                <input class="form-control" type="text" formControlName="address" placeholder="Address" tabindex="1">	
            </fieldset>	
            <div class="col_sm1 pwd">	
                <input class="form-control" type="password" formControlName="password" placeholder="Password" tabindex="1">	
                <i class="fa fa-eye" aria-hidden="true" id="togglePassword"></i>	
            </div>	
            <div class="col_sm1 pwd">	
                <input class="form-control" type="password" formControlName="confirmPassword" placeholder="Confirm Password" tabindex="1">	
                <i class="fa fa-eye" aria-hidden="true" id="togglePassword"></i>	
            </div>
            <div class="clear"></div>
          
            <div class="radio_box2">	
                <label class="container">I accept the <a href="#">Private Policy</a>	
                    <input type="checkbox" formControlName="privatePolicy" value="E-mail" name="read_t" tabindex="11">	
                    <span class="checkmark"></span>	
                </label>	
            </div>	
            <div class="radio_box2">	
                <label class="container">I have read and accept the <a href="#">T&Cs</a>	
                    <input type="checkbox" formControlName="terms" value="E-mail" name="read_t" tabindex="11">	
                    <span class="checkmark"></span>	
                </label>	
            </div>	
            <div class="radio_box2">	
                <label class="container">I do not want to receive explosive information and tips – plus a few surprises by email and/or text messages	
                    <input type="checkbox" formControlName="notify" value="E-mail" name="read_t" tabindex="11">	
                    <span class="checkmark"></span>	
                </label>	
            </div>	
            <div class="radio_box" formGroupName="communication"><br>	
                    <h1>Preferred way of communication</h1><br>	
                    <label class="container">Email 	
                      <input type="radio" name="email" formControlName="email" value="Male" tabindex="4">	
                      <span class="checkmark"></span>	
                    </label>	
                    <label class="container">SMS	
                      <input type="radio" name="sms" formControlName="sms" value="Female" tabindex="5">	
                      <span class="checkmark"></span>	
                    </label>	
                    <label class="container">Both	
                      <input type="radio" name="both" formControlName="both" value="others" tabindex="6">	
                      <span class="checkmark"></span>	
                    </label>	
            </div>	
            <br>	
            <div class="btn">	
                  <button name="submit" type="submit" id="contact-submit" (click)="save()"  tabindex="12">GET STARTED!</button>	
            </div>

            <div class="clear"></div>
        </form>
    </div>
</div>

<app-footer></app-footer>>