<app-eatboxheader></app-eatboxheader>
<div class="shadow_box w_700">
    <div class="box_head2">
        <h1>Hello, Best Market</h1>
        <p>Tell us more about your business</p>
        <div class="brd"></div>
    </div>
    <div class="store_main">
        <div class="store_type">
        	<select>
        		<option>Store Type</option>
        		<option>Type 1</option>
        		<option>Type 2</option>
        	</select>
        	<div class="col_sm1 st_desc">
        		<p>Add Short Description </p>
        		<textarea></textarea>
        	</div>
        </div>
        <div class="st_accor">
        	<!-- accordian strat -->
             <div class="rm_accordion2 wow fadeInUp" data-wow-duration="1s" style="visibility: visible; animation-duration: 1s; animation-name: fadeInUp;">
                	<div class="accordion_head2">
                    	<h1>Working Days - Hours </h1>
                    	<i class="fa fa-plus" aria-hidden="true"></i>
                    </div>
                    <div class="accordion_body2">
                        <div class="working_days_list">
                        	<div class="w_days">
                        		<h2><input type="checkbox"> <span>Monday</span></h2> 
                        	</div>
                        	<div class="w_hrs">
                        		<p><i class="fa fa-clock-o" aria-hidden="true"></i> <span>Working Hours :</span> <input type="text"> &nbsp; to &nbsp; <input type="text"></p>
                        	</div>
                        	<div class="clear"></div>
                        </div>
                        <div class="working_days_list">
                        	<div class="w_days">
                        		<h2><input type="checkbox"> <span>Tuesday</span></h2> 
                        	</div>
                        	<div class="w_hrs">
                        		<p><i class="fa fa-clock-o" aria-hidden="true"></i> <span>Working Hours :</span> <input type="text"> &nbsp; to &nbsp; <input type="text"></p>
                        	</div>
                        	<div class="clear"></div>
                        </div>
                        <div class="working_days_list">
                        	<div class="w_days">
                        		<h2><input type="checkbox"> <span>Wednesday</span></h2> 
                        	</div>
                        	<div class="w_hrs">
                        		<p><i class="fa fa-clock-o" aria-hidden="true"></i> <span>Working Hours :</span> <input type="text"> &nbsp; to &nbsp; <input type="text"></p>
                        	</div>
                        	<div class="clear"></div>
                        </div>
                        <div class="working_days_list">
                        	<div class="w_days">
                        		<h2><input type="checkbox"> <span>Thusday</span></h2> 
                        	</div>
                        	<div class="w_hrs">
                        		<p><i class="fa fa-clock-o" aria-hidden="true"></i> <span>Working Hours :</span> <input type="text"> &nbsp; to &nbsp; <input type="text"></p>
                        	</div>
                        	<div class="clear"></div>
                        </div>
                        <div class="working_days_list">
                        	<div class="w_days">
                        		<h2><input type="checkbox"> <span>Friday</span></h2> 
                        	</div>
                        	<div class="w_hrs">
                        		<p><i class="fa fa-clock-o" aria-hidden="true"></i> <span>Working Hours :</span> <input type="text"> &nbsp; to &nbsp; <input type="text"></p>
                        	</div>
                        	<div class="clear"></div>
                        </div>
                        <div class="working_days_list">
                        	<div class="w_days">
                        		<h2><input type="checkbox"> <span>Saturday</span></h2> 
                        	</div>
                        	<div class="w_hrs">
                        		<p><i class="fa fa-clock-o" aria-hidden="true"></i> <span>Working Hours :</span> <input type="text"> &nbsp; to &nbsp; <input type="text"></p>
                        	</div>
                        	<div class="clear"></div>
                        </div>
                        <div class="working_days_list">
                        	<div class="w_days">
                        		<h2><input type="checkbox"> <span>Sunday</span></h2> 
                        	</div>
                        	<div class="w_hrs">
                        		<p><i class="fa fa-clock-o" aria-hidden="true"></i> <span>Working Hours :</span> <input type="text"> &nbsp; to &nbsp; <input type="text"></p>
                        	</div>
                        	<div class="clear"></div>
                        </div>
                    </div>  
            </div>
            <!-- accordian end -->

            <!-- accordian strat -->
             <div class="rm_accordion2 wow fadeInUp" data-wow-duration="1s" style="visibility: visible; animation-duration: 1s; animation-name: fadeInUp;">
                	<div class="accordion_head2">
                    	<h1>Any holidays you are close?</h1>
                    	<i class="fa fa-plus" aria-hidden="true"></i>
                    </div>
                    <div class="accordion_body2">
                        <div class="working_days_list">
                        	<div class="list_sm50">
                        		<h2><input type="checkbox"> <span>Lorem ipsum dolor sit amet</span></h2>
                        	</div>
                        	<div class="list_sm50">
                        		<h2><input type="checkbox"> <span>Lorem ipsum dolor sit amet</span></h2>
                        	</div>
                        	<div class="clear"></div>
                        </div>
                        <div class="working_days_list">
                        	<div class="list_sm50">
                        		<h2><input type="checkbox"> <span>Lorem ipsum dolor sit amet</span></h2>
                        	</div>
                        	<div class="list_sm50">
                        		<h2><input type="checkbox"> <span>Lorem ipsum dolor sit amet</span></h2>
                        	</div>
                        	<div class="clear"></div>
                        </div>
                        <div class="working_days_list">
                        	<div class="list_sm50">
                        		<h2><input type="checkbox"> <span>Lorem ipsum dolor sit amet</span></h2>
                        	</div>
                        	<div class="list_sm50">
                        		<h2><input type="checkbox"> <span>Lorem ipsum dolor sit amet</span></h2>
                        	</div>
                        	<div class="clear"></div>
                        </div>
                        <div class="working_days_list">
                        	<div class="list_sm50">
                        		<h2><input type="checkbox"> <span>Lorem ipsum dolor sit amet</span></h2>
                        	</div>
                        	<div class="list_sm50">
                        		<h2><input type="checkbox"> <span>Lorem ipsum dolor sit amet</span></h2>
                        	</div>
                        	<div class="clear"></div>
                        </div>
                    </div>
            </div>
            <!-- accordian end -->
        </div>
        <div class="bus_logo">
        	<h1><span>Add Business Logo</span> <i class="fa fa-picture-o" aria-hidden="true"></i></h1>
        </div>
        <div class="col_sm1 st_desc">
        	<p>Additional Description</p>
        	<textarea></textarea>
        </div>
        <div class="box_btn">
            <a href="#">SAVE</a>
        </div>
    </div>
</div>

<app-footer></app-footer>