<app-eatboxheader></app-eatboxheader>
<div class="col_sm1">
    <div class="top2">
        <h1 class="page_head">Your Basket</h1>
        <div class="main_masket">
            <h1><img src="assets/images/store_logo.png"> BEST MARKET</h1>
            <div class="bas_box">
                <div class="box_row">
                    <div class="box_sm50"><h2>MysterEat Box</h2></div>
                    <div class="box_sm10"><h2>Qty</h2></div>
                    <div class="box_sm20"><h2>Price</h2></div>
                    <div class="box_sm20"><h2>&nbsp;</h2></div>
                    <div class="clear"></div>
                </div>
                <div class="box_row">
                    <div class="box_sm50">
                        <p>Monday [date] Pick up time: 11:30-12:00</p>
                    </div>
                    <div class="box_sm10">
                        <p>2</p>
                    </div>
                    <div class="box_sm20">
                        <p>€3.20</p>
                    </div>
                    <div class="box_sm20">
                        <p><i class="fa fa-times-circle-o" aria-hidden="true"></i> &nbsp;&nbsp; <i class="fa fa-pencil-square-o" aria-hidden="true"></i></p>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="box_row">
                    <div class="box_sm50">
                        <p>Monday [date] Pick up time: 11:30-12:00</p>
                    </div>
                    <div class="box_sm10">
                        <p>2</p>
                    </div>
                    <div class="box_sm20">
                        <p>€3.20</p>
                    </div>
                    <div class="box_sm20">
                        <p><i class="fa fa-times-circle-o" aria-hidden="true"></i> &nbsp;&nbsp; <i class="fa fa-pencil-square-o" aria-hidden="true"></i></p>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
            <div class="bas_box">
                <div class="box_row">
                    <div class="box_sm50"><h2>MysterEat Box</h2></div>
                    <div class="box_sm10"><h2>Qty</h2></div>
                    <div class="box_sm20"><h2>Price</h2></div>
                    <div class="box_sm20"><h2>&nbsp;</h2></div>
                    <div class="clear"></div>
                </div>
                <div class="box_row">
                    <div class="box_sm50">
                        <p>Monday [date] Pick up time: 11:30-12:00</p>
                    </div>
                    <div class="box_sm10">
                        <p>2</p>
                    </div>
                    <div class="box_sm20">
                        <p>€3.20</p>
                    </div>
                    <div class="box_sm20">
                        <p><i class="fa fa-times-circle-o" aria-hidden="true"></i> &nbsp;&nbsp; <i class="fa fa-pencil-square-o" aria-hidden="true"></i></p>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
        </div>

        <div class="main_masket">
            <h1><img src="assets/images/store_logo.png"> BEST MARKET</h1>
            <div class="bas_box">
                <div class="box_row">
                    <div class="box_sm50"><h2>MysterEat Box</h2></div>
                    <div class="box_sm10"><h2>Qty</h2></div>
                    <div class="box_sm20"><h2>Price</h2></div>
                    <div class="box_sm20"><h2>&nbsp;</h2></div>
                    <div class="clear"></div>
                </div>
                <div class="box_row">
                    <div class="box_sm50">
                        <p>Monday [date] Pick up time: 11:30-12:00</p>
                    </div>
                    <div class="box_sm10">
                        <p>2</p>
                    </div>
                    <div class="box_sm20">
                        <p>€3.20</p>
                    </div>
                    <div class="box_sm20">
                        <p><i class="fa fa-times-circle-o" aria-hidden="true"></i> &nbsp;&nbsp; <i class="fa fa-pencil-square-o" aria-hidden="true"></i></p>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="box_row">
                    <div class="box_sm50">
                        <p>Monday [date] Pick up time: 11:30-12:00</p>
                    </div>
                    <div class="box_sm10">
                        <p>2</p>
                    </div>
                    <div class="box_sm20">
                        <p>€3.20</p>
                    </div>
                    <div class="box_sm20">
                        <p><i class="fa fa-times-circle-o" aria-hidden="true"></i> &nbsp;&nbsp; <i class="fa fa-pencil-square-o" aria-hidden="true"></i></p>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
        </div>

        <div class="total_bas">
            <h1><i class="fa fa-trash" aria-hidden="true"></i> Empty Basket</h1>
            <h2>TOTAL &nbsp;<span>€ 24.8</span></h2>
            <div class="clear"></div>
            <a href="#">Reserve Now</a>
        </div>
    </div>
    <div class="clear"></div>
</div>

<app-footer></app-footer>